<footer class="bg-body-tertiary py-5">
    <div class="container">
        <div class="row">
            <!-- Información del proyecto -->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5>TRABAJO PRÁCTICO N°3</h5>
                <p class="text-black">
                    Proyecto desarrollado para la materia de Programación y Servicios Web. Implementando conceptos de
                    Bootstrap, Angular y responsive design.
                </p>
            </div>

            <!-- Enlaces rápidos -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5>Enlaces</h5>
                <ul class="list-unstyled">
                    <li class="mb-2 text-black">
                        <a href="#" class="text-black text-decoration-none">Documentación</a>
                    </li>
                    <li class="mb-2 text-black">
                        <a href="#" class="text-black text-decoration-none">Recursos</a>
                    </li>
                    <li class="mb-2 text-black">
                        <a href="#" class="text-black text-decoration-none">Contacto</a>
                    </li>
                </ul>
            </div>

            <!-- Redes sociales -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-black">
                <h5>Síguenos</h5>
                <div class="mt-3">
                    <a href="#" class="btn btn-outline-dark me-2 mb-2">
                        <i class="bi bi-facebook text-black"></i>
                    </a>
                    <a href="#" class="btn btn-outline-dark me-2 mb-2">
                        <i class="bi bi-twitter-x text-black"></i>
                    </a>
                    <a href="#" class="btn btn-outline-dark me-2 mb-2">
                        <i class="bi bi-instagram text-black"></i>
                    </a>
                    <a href="#" class="btn btn-outline-dark me-2 mb-2">
                        <i class="bi bi-linkedin text-black"></i>
                    </a>
                    <a href="#" class="btn btn-outline-dark me-2 mb-2">
                        <i class="bi bi-github text-black"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="container text-center">
        <hr class="my-4" />

        <div class="row">
            <div class="col">
                <a href="https://github.com/justmeconrado/pysw-tp3-angular-25" class="text-decoration-none text-black"
                    target="_blank">
                    <i class="bi bi-github text-black me-1"></i>Repositorio del proyecto
                </a>
                <p class="text-center">
                    <i class="bi bi-code-slash"> </i>
                    <a href="https://github.com/justmeconrado" class="text-decoration-none text-success fw-bold"
                        target="_blank">Conrado Vargas</a>
                    <span> with love <i class="bi bi-heart-fill"></i></span>
                    <br>
                    <span class="fw-bold">in 2025</span>
                </p>
            </div>
        </div>
    </div>
</footer>